<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login.mavmed">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>﻿


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MavMed"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.DiagnosisSearchFragment" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.MedicalRecordFragment"
            android:exported="true"
            android:label="Medical Record" />
        <activity
            android:name=".activity.Email"
            android:exported="true"
            android:label="Email" />
        <activity android:name=".activity.UserProfileFragment"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgS029Ll9mbxJAYhx1ryYHa2mO6WMaqlM" />

        <activity android:name=".activity.Reminder"></activity>

        <receiver android:name=".activity.AlarmReceiver" android:enabled="true"> </receiver>

    </application>

</manifest>